.thumbnail {
	height: 150px;
	float : left;
	margin-left: 10px;
}
h4 {
	text-decoration: underline;
	font-weight: bold;
	color: blue;
}
hr {
	border-top: 1px solid #999;
}

aside h4 {
	margin-top: -5px;
}